<div  class="form">
    <form class="row" [formGroup]="form">
        <div class="col-md-5 col-12 mb-3">
            <div class="mb-1">Amount</div>
            <input 
              type="number" 
              class="form-control"
              formControlName="amount"
              class="text-center w-100"
              placeholder="Enter Amount"
          >
          </div>
         <div class="col-md-7 col-12 ml-auto">
            <div class="row text-center">
                <div class="col">
                    <div class="mb-1" style="text-align: left;">From</div>
                    <select formControlName="from" class="form-select form-select-sm w-100" aria-label=".form-select-sm example" >
                        <ng-container *ngFor="let cur of currencies | keyvalue">
                            <option [value]="cur.key">{{cur.key}}</option>
                        </ng-container>
                      </select>
                </div>
                <div class="col-2 switch align-self-end mb-2">
                    <img (click)="swap()" style="cursor: pointer;" width="25px" src="/assets/icons/switch.svg" alt="">
                </div>
                <div class="col">
                    <div class="mb-1" style="text-align: left;">To</div>
                    <select formControlName="to" class="form-select form-select-sm w-100" aria-label=".form-select-sm example">
                        <ng-container *ngFor="let cur of currencies | keyvalue">
                            <option [value]="cur.key">{{cur.key}}</option>
                        </ng-container>
                      </select>
                </div>
                <div class="col-12 mt-3">
                    <button [disabled]="form.invalid" type="button" class="btn btn-primary btn-sm w-100" (click)="convert()">Convert</button>
                </div>
            </div>
         </div>
    </form>
    <div class="row mt-4 align-items-center">
        <div class="col-md-5 col-12">
            <input 
              type="text" 
              class="form-control"
              class="text-center w-100"
              [placeholder]="'1 EUR =  XX XXX USD'"
              [disabled]="true"
              [(ngModel)]="fromText"
          >
        </div>
        <div class="col">
            <input 
            type="text" 
            class="form-control"
            class="text-center w-100"
            [placeholder]="'XX XXX USD'"
            [disabled]="true"
            [(ngModel)]="toText"
            style="height: 60px;"
        >
        </div>
        <div class="col-3" *ngIf="!router.url.includes('details')">
            <button routerLink="/details" [queryParams]="{from: f.from.value, to: f.to.value}"  [disabled]="form.invalid" type="button" class="btn btn-primary btn-sm w-100">More Details</button>
        </div>
    </div>
  </div>