<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img width="50px" height="50x" src="../assets/images/logo.jpg" alt="">
        </a>
        <div class="d-flex">
          <button routerLink="/details" [queryParams]="{from: 'EUR', to: 'USD'}" class="btn btn-outline-primary mx-3">EUR-USD Details</button>
          <button routerLink="/details" [queryParams]="{from: 'EUR', to: 'GBP'}" class="btn btn-outline-primary">EUR-GBP Details</button>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- 
<div style="height: 1000px;">

</div> -->
